*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

@import 'partials/color';

body {
  width: 100%;
  height: 100vh;
}

$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;


img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@import 'partials/layout';
@import 'partials/button';
@import 'partials/header';
@import 'partials/footer';
