.btn {
  cursor: pointer;
  border: none;
  width: 148px;
  border-radius: 15px;
  height: calculator-rem(48);

  font-style: normal;
  font-weight: 700;
  font-size: calculator-rem(18);
  line-height: 120%;
  color: $tertiary-color;
}

.btn-primary {
  background-color: $secondary-color;
  transition: 300ms;
  &:hover{
    filter: brightness(0.9);
  }
}
.btn-secondary {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calculator-rem(4);
  @include after-icon("\e905", calculator-rem(18), $tertiary-color){
    margin-left: calculator-rem(15);
  }
}
