//* PRIMARY COLORS
$primary-color: #344955;
$secondary-color: #F9AA33;
$tertiary-color: #232F34;
$complementary-color: #4A6572;

//* WHITE COLORS
$white-default: #F5F0F1;
$white-light: #FFFFFF;
$white-dark:#EDE4E5;

//* BLACK COLORS
$black-dark: #0A0909;
$black-default: #121111;
$black-light: #1C1B1B;