.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;

  &__logo {
    font-family: "Be Vietnam Pro", sans-serif;
    color: $complementary-color;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;

    &--lio {
      color: $secondary-color;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &--item {
      margin-right: 24px;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      
      &:last-child {
        margin-right: 0;
      }

      a{
        transition: 300ms;
        &:hover{
          color: $secondary-color;
        }
      }
    }

    &--item-link {
      color: $black-light;
    }
  }
  &__wrapper{
    display: flex;
    align-items: center;
    .icon-sun{
      &::before{
        margin-left: 45px;
        font-family: 'icomoon';
        content: "\e936";
        font-size: 32px;
        color: $secondary-color;
      }
    }
  }

}
