.hero {
  display: flex;
  justify-content: space-between;
  margin-top: calculator-rem(128);

  &__headline {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 48%;

    h2 {
      //width: 625px;
      font-weight: 700;
      font-size: calculator-rem(64);
      line-height: 120%;
    }
    p {
      margin-top: calculator-rem(48);
      font-style: normal;
      font-weight: 500;
      font-size: calculator-rem(18);
      line-height: 120%;
      color: $gray-3;
      img {
        width: calculator-rem(32);
        display: inline-block;
      }
    }
    &--wrapper{
      margin-top: calculator-rem(48);
      display: flex;
    }
  }

  &__image {
    width: 48%;
  }
}
