@use "sass:math";

@mixin before-icon($icon, $size, $color){
  &::before{
    display: inline-block;
    font-family: 'icomoon';
    content: $icon;
    font-size: $size;
    color: $color;
    @content;
  }
}

@mixin after-icon($icon, $size, $color){
  &::after{
    display: inline-block;
    font-family: 'icomoon';
    content: $icon;
    font-size: $size;
    color: $color;
    @content;
  }
}

@function calculator-rem($font-size){
  $size: math.div($font-size, 16);
  @return $size + rem;
}