@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.ttf.css');
  src: url('./fonts/icomoon.eot.css#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.woff.css') format('woff');
}